<h2><%= @test.description %></h2>
<h3>Информация о студнете </h3>
<hr>
<form>
  First name:<br>
  <input type="text" name="firstname"> <br>
  Last name:<br>
  <input type="text" name="lastname"> <br>
  Group:<br>
  <input type="text" Group="lastname">
</form>
<hr>
<h1><%= @test.name %></h1>

<h1>Вопросы: </h1>
<%= form_for @test do |f| %>
    <% @test.questions.each do |question| %>
        <%= question.content %> <br> <br>
        <% question.answers.each do |answer| %>
            <%= form_for answer %>
            <%= f.label :name %>
            <%= f.radio_button :description, {} %>

        <% end %>
        <hr>
    <% end %>
<% end %>
